.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.logo-container {
  text-align: center;
  padding: 20px;
}

.logo-container img {
  max-width: 100%;
}

.mat-nav-list {
  padding-top: 20px;
}

.mat-list-item {
  padding: 10px 20px;
}

.mat-list-item.active {
  background-color: blue; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
}