<mat-sidenav-container class="sidenav-container" style="height: 100vh;">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <img src="../../assets/logo_alianza.png" alt="Logo">
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/clients">Clients</a>
      <a mat-list-item routerLink="/client-look-history">Client Look History</a>
      <a mat-list-item routerLink="/emergency-pin-configuration">Emergency PIN <br>Configuration</a>
      <a mat-list-item routerLink="/emergency-pin-history">Emergency PIN <br>History</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="flex: 1;">
    <!-- Aquí va el contenido principal de tu aplicación -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>